
body {
    background-image: url("bg3.png");
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    color:  #99ff66;
}
strong {
    color: #ffffff;
}
p{
    font-size:40px;
    font-family: "Times New Roman", serif;
    text-align: center
    
}
img {
    border-radius: 9px;
    display: block;
    margin-left:auto;
    margin-right: auto;
  
}


li {
    text-align: center;
    font-size: 40px;
    font-family: "Times New Roman", serif;
    
}
.mainheading{
    text-align: center;
    color: #339966;
    font-size: 55px;
}
a{ 
    font-size:40px;
    color: white;
    text-align: center; 
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #00cc99;
}

.mainNav {
    float: left;
   
}

li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
    background-color: #009999;
}

li.dropdown {
    float: left;

}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #669999;
    min-width: 150px;
    box-shadow: 0px 7px 15px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}